        .language-wrapper
			{
				/* newest version */
				text-align: right;
				position: relative;
				margin: -2.7em 0 0 0;
			}

			#language
			{
				/* newest version*/
				cursor: pointer;
				-webkit-appearance: none;
				-moz-appearance: none;
				outline: 0;
				border: 1px solid #E1E1E1;
				padding: 1% 5.5%;
				text-indent: 0.01px;
				text-overflow: initial;
				text-overflow: "";
				background-color: transparent;
				z-index: 2;
				position: relative;
				color: #437ec1;
				font-family: OpenSansSemibold;
				font-size: 1em;
				border-top: 0;
				border-right: 0;
				margin: 0;
				border-bottom-left-radius: 3px;
			}
			
			#language::-ms-expand
			{
				display: none;
			}

			.caret
			{
				display: inline-block;
				width: 0;
				height: 0;
				vertical-align: top;
				border-top: 8px solid #437ec1;
				border-right: 8px solid transparent;
				border-left: 8px solid transparent;
				content: "";
				vertical-align: middle;
				position: absolute;
				right: 1%;
				top: 40%;
				z-index: 1;
			}

			